{% for namespace in ["external-secrets", "flux-system", "network", "security", "observability", "storage", "kube-system"] %}

---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}

---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: op://K8s/sops/SOPS_PRIVATE_KEY

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://K8s/cloudflare/CLOUDFLARE_TUNNEL_ID
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: security
stringData:
  token: op://K8s/1password-token/password
  1password-credentials.json: op://K8s/1password-json/1password-credentials.json

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-dns-secret
  namespace: network
stringData:
  CF_API_TOKEN: op://K8s/cloudflare/CF_API_TOKEN
  CF_ZONE_ID: op://K8s/cloudflare/CF_ZONE_ID
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-issuer-secret
  namespace: security
stringData:
  CLOUDFLARE_DNS_TOKEN: op://K8s/cloudflare/CLOUDFLARE_DNS_TOKEN



---
apiVersion: v1
kind: Secret
metadata:
  name: operator-oauth
  namespace: security
stringData:
  client_id: op://K8s/tailscale-operator/CLIENT_ID
  client_secret: op://K8s/tailscale-operator/CLIENT_SECRET

---
apiVersion: v1
kind: Secret
metadata:
    name: pgadmin-secret
    namespace: databases
    labels:
        cnpg.io/reload: "true"
data:
    password: op://K8s/POSTGRES_SUPER_PASS/POSTGRES_SUPER_PASS
    username: op://K8s/POSTGRES_SUPER_USER/POSTGRES_SUPER_USER
    aws-access-key-id: op://K8s/AWS_ACCESS_KEY_ID/AWS_ACCESS_KEY_ID
    aws-secret-access-key: op://K8s/AWS_SECRET_ACCESS_KEY/AWS_SECRET_ACCESS_KEY


---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg
    namespace: dbms
    labels:
        cnpg.io/reload: "true"
stringData:
    password: op://K8s/cloudnative-pg/password
    username: op://K8s/cloudnative-pg/username
    minio_access_key_id: op://K8s/cloudnative-pg/minio_access_key_id
    minio_secret_access_key: op://K8s/cloudnative-pg/minio_secret_access_key


---
apiVersion: v1
kind: Secret
metadata:
    name: grafana-admin-secret
    namespace: observability
stringData:
    admin-password: op://K8s/grafana-admin/GRAFANA_ADMIN_PASSWORD
    admin-user: op://K8s/grafana-admin/GRAFANA_ADMIN_USERNAME


---
apiVersion: v1
kind: Secret
metadata:
    name: vernemq-auth
    namespace: storage
stringData:
    DOCKER_VERNEMQ_USER_ADMIN: op://K8s/vernemq-auth/vernemq_password
    DOCKER_VERNEMQ_USER_MQTT: op://K8s/vernemq-auth/vernemq_user_mqtt_password

---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes/sops/SOPS_PRIVATE_KEY


---
apiVersion: v1
kind: Secret
metadata:
  name: samcloud-online-tls
  namespace: network
  annotations:
    cert-manager.io/alt-names: '*.samcloud.online,samcloud.online'
    cert-manager.io/certificate-name: samcloud.online
    cert-manager.io/common-name: samcloud.online
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: op://K8s/samcloud-online-tls/tls.crt
  tls.key: op://K8s/samcloud-online-tls/tls.key
---
apiVersion: v1
kind: Secret
metadata:
    name: tailscale-operator-secret
    namespace: network
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     client_id: op://K8s/tailscale/TS_CLIENT_ID
     client_secret: op://K8s/tailscale/TS_CLIENT_SECRET


---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://K8s/cloudflare/CLOUDFLARE_TUNNEL_ID

---
apiVersion: v1
kind: Secret
metadata:
  name: truenas-nfs
  namespace: storage
stringData:
  API_KEY: op://K8s/truenas-nfs/API_KEY
  DECRYPTION_KEY: op://K8s/truenas-nfs/DECRYPTION_KEY


---
apiVersion: v1
kind: Secret
metadata:
  name: adguard-home
  namespace: network
stringData:
  adguard_username: op://K8s/adguard_home/adguard_username
  adguard_password_hash: op://K8s/adguard_home/adguard_password_hash
  adguard_session_key: op://K8s/adguard_home/adguard_session_key
---
apiVersion: v1
kind: Secret
metadata:
  name: truenas-api-key-backup
  namespace: storage
stringData:
  API_KEY: op://kubernetes/truenas-api-key-backup/API_KEY

---
apiVersion: v1
kind: Secret
metadata:
  name: truenas-api-key-secret
  namespace: storage
stringData:
  API_KEY: op://K8s/truenas-api-key/API_KEY

---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-secret
  namespace: observability
stringData:
      alertmanager_heartbeat_url: op://K8s/alertmanager/ALERTMANAGER_HEARTBEAT_URL
      pushover_api_token: op://K8s/alertmanager/ALERTMANAGER_PUSHOVER_TOKEN
      pushover_api_userkey: op://K8s/alertmanager/ALERTMANAGER_PUSHOVER_USER_KEY


---
apiVersion: v1
kind: Secret
metadata:
    name: pgbouncer-admin-secret
    namespace: storage
    labels:
        app.kubernetes.io/name: pgbouncer
        app.kubernetes.io/component: connection-pooler
        app.kubernetes.io/part-of: postgresql
type: Opaque
stringData:
      PGBOUNCER_ADMIN_PASSWORD: op://K8s/pgbouncer-admin-secret/PGBOUNCER_ADMIN_PASSWORD

---
apiVersion: v1
kind: Secret
metadata:
    name: pgbouncer-secrets
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
    pg_username: op://K8s/pgbouncer-secrets/pg_username
    pg_password: op://K8s/pgbouncer-secrets/pg_password
    pgbouncer_auth_password: op://K8s/pgbouncer-secrets/pgbouncer_auth_password
    pgbouncer_admin_password: op://K8s/pgbouncer-secrets/pgbouncer_admin_password
    pgbouncer_stats_password: op://K8s/pgbouncer-secrets/pgbouncer_stats_password

---
apiVersion: v1
kind: Secret
metadata:
    name: pgbouncer-admin-secret
    namespace: storage
type: Opaque
stringData:
      password: op://K8s/pgbouncer-admin-secret/password


---
apiVersion: v1
kind: Secret
metadata:
    name: pgbouncer-auth
    namespace: storage
    labels:
        app.kubernetes.io/name: pgbouncer-auth
        app.kubernetes.io/component: authentication
        app.kubernetes.io/part-of: postgresql
type: Opaque
stringData:
      PGBOUNCER_PASSWORD: op://K8s/pgbouncer-auth/PGBOUNCER_PASSWORD
      POSTGRES_PASSWORD: op://K8s/pgbouncer-auth/POSTGRES_PASSWORD

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-analytics-credentials
  namespace: storage
type: Opaque
stringData:
  ANALYTICS_USER: op://K8s/postgres-analytics-credentials/ANALYTICS_USER
  ANALYTICS_PASSWORD: op://K8s/postgres-analytics-credentials/ANALYTICS_PASSWORD



---
apiVersion: v1
kind: Secret
metadata:
    name: postgres-backup
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
type: Opaque
stringData:
      AWS_ACCESS_KEY_ID: op://K8s/postgres-backup/AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: op://K8s/postgres-backup/AWS_SECRET_ACCESS_KEY
      AWS_REGION: op://K8s/postgres-backup/AWS_REGION
      AWS_SESSION_TOKEN: op://K8s/postgres-backup/AWS_SESSION_TOKEN
      S3_ENDPOINT_URL: op://K8s/postgres-backup/S3_ENDPOINT_URL
      S3_BUCKET_NAME: op://K8s/postgres-backup/S3_BUCKET_NAME
      S3_PREFIX: op://K8s/postgres-backup/S3_PREFIX
      BACKUP_ENCRYPTION_KEY: op://K8s/postgres-backup/BACKUP_ENCRYPTION_KEY
      BACKUP_SIGNING_KEY: op://K8s/postgres-backup/BACKUP_SIGNING_KEY
      BARMAN_CLOUD_RETENTION_POLICY: op://K8s/postgres-backup/BARMAN_CLOUD_RETENTION_POLICY
      BARMAN_CLOUD_COMPRESSION: op://K8s/postgres-backup/BARMAN_CLOUD_COMPRESSION


---
apiVersion: v1
kind: Secret
metadata:
    name: kured
    namespace: kube-system
    labels:
        reloader.stakater.com/auto: "true"
type: Opaque
stringData:
      NOTIFY_WEBHOOK_URL: op://K8s/kured/NOTIFY_WEBHOOK_URL


---
apiVersion: v1
kind: Secret
metadata:
    name: truenas-iscsi
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
type: Opaque
stringData:
      host: op://K8s/truenas-iscsi/host
      API_KEY: op://K8s/truenas-iscsi/api_key
      portal: op://K8s/truenas-iscsi/portal
      dataset_parent: op://K8s/truenas-iscsi/dataset_parent
      snapshot_parent: op://K8s/truenas-iscsi/snapshot_parent
      DECRYPTION_KEY: op://K8s/truenas-iscsi/decryption_key
      chap_username: op://K8s/truenas-iscsi/chap_username
      chap_password: op://K8s/truenas-iscsi/chap_password
      username: op://K8s/truenas-iscsi/username
      password: op://K8s/truenas-iscsi/password
      ssh_username: op://K8s/truenas-iscsi/ssh_username
      ssh_password: op://K8s/truenas-iscsi/ssh_password


---
apiVersion: v1
kind: Secret
metadata:
    name: postgres-backup
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     minio_access_key_id: op://K8s/postgres-backup/minio_access_key_id
     minio_secret_access_key: op://K8s/postgres-backup/minio_secret_access_key
     s3_endpoint_url: op://K8s/postgres-backup/s3_endpoint_url
     s3_bucket_name: op://K8s/postgres-backup/s3_bucket_name

---
apiVersion: v1
kind: Secret
metadata:
    name: cnpg-vector-backup
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
type: Opaque
stringData:
      POSTGRES_HOST: op://K8s/cnpg-vector-backup/POSTGRES_HOST
      POSTGRES_USER: op://K8s/cnpg-vector-backup/POSTGRES_USER
      POSTGRES_PASSWORD: op://K8s/cnpg-vector-backup/POSTGRES_PASSWORD
      POSTGRES_PORT: op://K8s/cnpg-vector-backup/POSTGRES_PORT
---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-analytics-worker-one
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     username: op://K8s/cloudnative-pg-analytics-worker-one/username
     password: op://K8s/cloudnative-pg-analytics-worker-one/password
---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-analytics-worker-two
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     username: op://K8s/cloudnative-pg-analytics-worker-two/username
     password: op://K8s/cloudnative-pg-analytics-worker-two/password

---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-analytics-coordinator
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     username: op://K8s/cloudnative-pg-analytics-coordinator/username
     password: op://K8s/cloudnative-pg-analytics-coordinator/password

---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-analytics-worker-three
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     username: op://K8s/cloudnative-pg-analytics-worker-three/username
     password: op://K8s/cloudnative-pg-analytics-worker-three/password

---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-analytics-worker-four
    namespace: storage
    labels:
        reloader.stakater.com/auto: "true"
stringData:
     username: op://K8s/cloudnative-pg-analytics-worker-four/username
     password: op://K8s/cloudnative-pg-analytics-worker-four/password